OPCClient代理V1.0/OPCClientProxy/OPCClientProxy_ViewModel/Service References/ServiceReference1/ACUServer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ACUServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ACUServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfPrePoint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PrePoint" nillable="true" type="tns:PrePoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrePoint" nillable="true" type="tns:ArrayOfPrePoint" />
  <xs:complexType name="PrePoint">
    <xs:sequence>
      <xs:element minOccurs="0" name="GetMS" type="xs:int" />
      <xs:element minOccurs="0" name="GetSec" type="xs:int" />
      <xs:element minOccurs="0" name="PointID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PointName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PointValues" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrePoint" nillable="true" type="tns:PrePoint" />
  <xs:complexType name="ArrayOfDolPoint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DolPoint" nillable="true" type="tns:DolPoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDolPoint" nillable="true" type="tns:ArrayOfDolPoint" />
  <xs:complexType name="DolPoint">
    <xs:sequence>
      <xs:element minOccurs="0" name="PointID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PointName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PointValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DolPoint" nillable="true" type="tns:DolPoint" />
</xs:schema>