ISafe_UserClient/UserClientViewModel/Service References/ServiceReference1/ACUServer1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ACUServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ACUServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Graphic">
    <xs:sequence>
      <xs:element minOccurs="0" name="CombinPipes" nillable="true" type="tns:ArrayOfPipe" />
      <xs:element minOccurs="0" name="OPCProxys" nillable="true" type="tns:ArrayOfOPCPxoryModel" />
      <xs:element minOccurs="0" name="PipeSites" nillable="true" type="tns:ArrayOfPipeSite" />
      <xs:element minOccurs="0" name="Pipes" nillable="true" type="tns:ArrayOfPipe" />
      <xs:element minOccurs="0" name="SCADAConfigManager" nillable="true" type="tns:SCADAConfig" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Graphic" nillable="true" type="tns:Graphic" />
  <xs:complexType name="ArrayOfPipe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pipe" nillable="true" type="tns:Pipe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPipe" nillable="true" type="tns:ArrayOfPipe" />
  <xs:complexType name="Pipe">
    <xs:sequence>
      <xs:element minOccurs="0" name="PipeIndex" type="xs:int" />
      <xs:element minOccurs="0" name="PipeLength" type="xs:double" />
      <xs:element minOccurs="0" name="PipeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Segments" nillable="true" type="tns:ArrayOfSegment" />
      <xs:element minOccurs="0" name="Speed0" type="xs:double" />
      <xs:element minOccurs="0" name="Speed1" type="xs:double" />
      <xs:element minOccurs="0" name="TimeThreshold" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pipe" nillable="true" type="tns:Pipe" />
  <xs:complexType name="ArrayOfSegment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Segment" nillable="true" type="tns:Segment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSegment" nillable="true" type="tns:ArrayOfSegment" />
  <xs:complexType name="Segment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stroke" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="X1" type="xs:double" />
      <xs:element minOccurs="0" name="X2" type="xs:double" />
      <xs:element minOccurs="0" name="Y1" type="xs:double" />
      <xs:element minOccurs="0" name="Y2" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Segment" nillable="true" type="tns:Segment" />
  <xs:complexType name="ArrayOfOPCPxoryModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OPCPxoryModel" nillable="true" type="tns:OPCPxoryModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOPCPxoryModel" nillable="true" type="tns:ArrayOfOPCPxoryModel" />
  <xs:complexType name="OPCPxoryModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsLinked" type="xs:boolean" />
      <xs:element minOccurs="0" name="Sign" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OPCPxoryModel" nillable="true" type="tns:OPCPxoryModel" />
  <xs:complexType name="ArrayOfPipeSite">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PipeSite" nillable="true" type="tns:PipeSite" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPipeSite" nillable="true" type="tns:ArrayOfPipeSite" />
  <xs:complexType name="PipeSite">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataBufferSize" type="xs:int" />
      <xs:element minOccurs="0" name="PreSensors" nillable="true" type="tns:ArrayOfPressureSensor" />
      <xs:element minOccurs="0" name="PressureReq" type="xs:int" />
      <xs:element minOccurs="0" name="SamplePerBlock" type="xs:int" />
      <xs:element minOccurs="0" name="SiteIndex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiteName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PipeSite" nillable="true" type="tns:PipeSite" />
  <xs:complexType name="ArrayOfPressureSensor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PressureSensor" nillable="true" type="tns:PressureSensor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPressureSensor" nillable="true" type="tns:ArrayOfPressureSensor" />
  <xs:complexType name="PressureSensor">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllSendToClient" type="xs:boolean" />
      <xs:element minOccurs="0" name="BelongSiteID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsLinked" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSaveData" type="xs:boolean" />
      <xs:element minOccurs="0" name="MonitorPipeSegments" nillable="true" type="tns:ArrayOfpipesegment" />
      <xs:element minOccurs="0" name="OPCPointID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreSensorID" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PressureValue" nillable="true" type="q1:ArrayOffloat" />
      <xs:element minOccurs="0" name="ThreshMax" type="xs:float" />
      <xs:element minOccurs="0" name="ThreshMin" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PressureSensor" nillable="true" type="tns:PressureSensor" />
  <xs:complexType name="ArrayOfpipesegment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="pipesegment" nillable="true" type="tns:pipesegment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfpipesegment" nillable="true" type="tns:ArrayOfpipesegment" />
  <xs:complexType name="pipesegment">
    <xs:sequence>
      <xs:element minOccurs="0" name="SegmentIndex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegmentLocation" type="xs:int" />
      <xs:element minOccurs="0" name="SegmentName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="pipesegment" nillable="true" type="tns:pipesegment" />
  <xs:complexType name="SCADAConfig">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mode" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="ReadReq" type="xs:int" />
      <xs:element minOccurs="0" name="SCADAServerIP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SCADASites" nillable="true" type="tns:ArrayOfSCADASite" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserPwd" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SCADAConfig" nillable="true" type="tns:SCADAConfig" />
  <xs:complexType name="ArrayOfSCADASite">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SCADASite" nillable="true" type="tns:SCADASite" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSCADASite" nillable="true" type="tns:ArrayOfSCADASite" />
  <xs:complexType name="SCADASite">
    <xs:sequence>
      <xs:element minOccurs="0" name="Points" nillable="true" type="tns:ArrayOfSCADAPoint" />
      <xs:element minOccurs="0" name="SCADASiteID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SCADASiteName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SCADASite" nillable="true" type="tns:SCADASite" />
  <xs:complexType name="ArrayOfSCADAPoint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SCADAPoint" nillable="true" type="tns:SCADAPoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSCADAPoint" nillable="true" type="tns:ArrayOfSCADAPoint" />
  <xs:complexType name="SCADAPoint">
    <xs:sequence>
      <xs:element minOccurs="0" name="Capacity" type="xs:int" />
      <xs:element minOccurs="0" name="DataType" type="xs:int" />
      <xs:element minOccurs="0" name="DelaySecond" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="InfluencePipes" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="IsFirstRead" type="xs:boolean" />
      <xs:element minOccurs="0" name="PointID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PointName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnChangeRage" type="xs:double" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SCADAPoint" nillable="true" type="tns:SCADAPoint" />
  <xs:complexType name="PressureLeak">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsErrorLeak" type="xs:boolean" />
      <xs:element minOccurs="0" name="LeakTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PressuresnsorIndex" type="xs:int" />
      <xs:element minOccurs="0" name="SiteIndex" type="xs:int" />
      <xs:element minOccurs="0" name="SiteName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ms" type="xs:int" />
      <xs:element minOccurs="0" name="s" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PressureLeak" nillable="true" type="tns:PressureLeak" />
  <xs:complexType name="DolLocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="LinePos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pipe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PipeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RPos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RlinePos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="X" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Y" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DolLocation" nillable="true" type="tns:DolLocation" />
  <xs:complexType name="Location">
    <xs:sequence>
      <xs:element minOccurs="0" name="DetectedTypestring" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndSiteIndex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndSiteName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocateDetectedType" type="tns:DetectedType" />
      <xs:element minOccurs="0" name="LocateGetTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocateLength" type="xs:double" />
      <xs:element minOccurs="0" name="MGS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PipeIndex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartSiteIndex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartSiteName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Location" nillable="true" type="tns:Location" />
  <xs:simpleType name="DetectedType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="infrasound" />
      <xs:enumeration value="pressure" />
      <xs:enumeration value="SCADA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DetectedType" nillable="true" type="tns:DetectedType" />
  <xs:complexType name="ArrayOfDolPoint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DolPoint" nillable="true" type="tns:DolPoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDolPoint" nillable="true" type="tns:ArrayOfDolPoint" />
  <xs:complexType name="DolPoint">
    <xs:sequence>
      <xs:element minOccurs="0" name="PointID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PointName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PointValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DolPoint" nillable="true" type="tns:DolPoint" />
</xs:schema>