ISafe_UserClient/UserClientViewModel/Service References/ServiceReference1/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ACUServer" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="BeatHeart">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BeatHeartResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGraphic">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGraphicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ACUServer" minOccurs="0" name="GetGraphicResult" nillable="true" type="q1:Graphic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetGraphic">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ACUServer" minOccurs="0" name="gra" nillable="true" type="q2:Graphic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetGraphicResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDolPointValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pointID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDolPointValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetDolPointValueResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPreSensorThresh">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PreSensorIndex" type="xs:int" />
        <xs:element minOccurs="0" name="threshMax" type="xs:float" />
        <xs:element minOccurs="0" name="threshMin" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPreSensorThreshResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResetPreSensorThreshResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GraphicChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ACUServer" minOccurs="0" name="gra" nillable="true" type="q3:Graphic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GraphicChangedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PreLeakCallBack">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ACUServer" minOccurs="0" name="leak" nillable="true" type="q4:PressureLeak" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreLeakCallBackResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OPCProxyLinkCallBack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Guid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="islink" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OPCProxyLinkCallBackResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PressureDateCallBack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Datasource" nillable="true" type="q5:ArrayOfdouble" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PressureDateCallBackResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PLCPreLinkingCallBack">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PreSensorLinks" nillable="true" type="q6:ArrayOfKeyValueOfstringboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PLCPreLinkingCallBackResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DolLocationCallBack">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ACUServer" minOccurs="0" name="location" nillable="true" type="q7:DolLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DolLocationCallBackResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationCallBack">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ACUServer" minOccurs="0" name="location" nillable="true" type="q8:Location" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationCallBackResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PreMaskCallBack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MaskData" nillable="true" type="q9:ArrayOfdouble" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreMaskCallBackResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PreThreshCallBack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ThreshData" nillable="true" type="q10:ArrayOfdouble" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreThreshCallBackResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CallBackDOLPHINData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ACUServer" minOccurs="0" name="DolPoints" nillable="true" type="q11:ArrayOfDolPoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallBackDOLPHINDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>